
@{
    ViewBag.Title = "MeniOptions";
}

<h2>Meni options</h2>

<div id="container">
    <ul>
        <li>
                @Html.ActionLink("Unesi servis", "UnosServisa", "Home");
        </li>
        <li>
            @Html.ActionLink("Prikaz vozila", "PrikaziVozila", "Home");
        </li>
    </ul>
</div>

