
@{
    ViewBag.Title = "Potvrda";
}

<h2>Potvrda</h2>

<p style="font-size:20px; font-weight:bold">
    Podaci uspješno uređeni
</p>

<p>
    @Html.ActionLink("Nazad na meni", "MeniOptions", "Home");
</p>

